@import "fonts.css";
/* * {
	outline: 1px solid red;
} */

:root {
	--accent-color: #e7a323;
	--low-accent-color: #e7a22333;
	--text-color: #fff;
	--maine-bg-color: #393f42;
	--maine-alt-bg-color: #000;
	--error-color: #ff2f2280;
	--green-color: #00ffce;
	--transperent-bg: hsl(0 0% 0% / 0.5);
	--full-transperent-bg: hsl(0 0% 0% / 0);
	--logo-font: "PixelifySans-Regular";
	--logo-font-size: 50px;
	--main-font-size: 24px;
	--font-size-small: 16px;
	--font-size-regular: 32px;
	--heading-font-size: 64px;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: "Saira-Regular";
	font-size: var(--main-font-size);
	color: var(--text-color);
	background-color: var(--maine-alt-bg-color);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	caret-color: var(--green-color);
}
